#gantt {
   width: 1000px;
   height: fit-content;
}
.popup-content {
   padding: 10px;
   background-color: white;
   border: 1px solid #ccc;
   border-radius: 5px;
}
.project-01 .bar {
   fill: #42a5f5;
}

.project-02 .bar {
   fill: #ef5350;
}

/* 커스텀 배경 */
.top-section {
   display: flex;
   justify-self: center;
   gap: 10px;
}
.middle-section {
   display: flex;
}

.gantt-nav-wrapper {
   height: 100%;
   border: 1px solid #d9d9d9;
}
.gantt-nav-scroll {
   width: 300px;
   height: 100%;
   padding: 20px;
   box-sizing: border-box;
}
.gantt-nav-header {
   display: flex;
   justify-content: space-between;
}
