@charset "utf-8";

body {
   font-size: 13px;
}

#gantt {
   width: 100%;
   height: fit-content;
}
.popup-content {
   padding: 10px;
   background-color: white;
   border: 1px solid #ccc;
   border-radius: 5px;
}
.project-01 .bar {
   fill: #42a5f5;
}

.project-02 .bar {
   fill: #ef5350;
}
/* click popup */
.gantt-popupHTML {
   display: none;
   position: absolute;
   z-index: 1050;
   width: 200px;
   height: auto;
   background-color: #fff;
   padding: 20px;
   box-sizing: border-box;
   font-size: 12px;
}

/* 커스텀 배경 */
.gantt_wrapper {
   width: 100vw;
   height: 100vh;
   overflow: hidden;
}
.top-section {
   display: flex;
   justify-content: center;
   gap: 10px;
   position: fixed;
   top: 0;
   z-index: 1100;
   width: 100%;
   height: 38px;
   background-color: #fff;
   border: 2px solid #d9d9d9;
   box-sizing: border-box;
}
/* 스크롤 바 */
.middle-section {
   display: flex;
   position: relative;
   width: 100vw;
   height: 100vh;
   margin-top: 38px;
}
/* 좌측 네비 */
.middle-section .inner-left-section {
   min-width: fit-content;
   height: 100%;
   flex-grow: 1;
}
.gantt-nav-wrapper {
   height: 100%;
   border-right: 2px solid var(--g-row-border-color);
}
.list_wrap,
.gantt-nav-header {
   display: flex;
   justify-content: space-between;
   gap: 10px;
}
.gantt-nav-header {
   padding: 10px 15px;
   padding-top: calc(var(--gv-upper-header-height) + 5px);
   border-bottom: 1px solid var(--g-row-border-color);
}
.gantt-nav-header p {
   font-size: 12px;
   align-content: center;
   height: calc(var(--gv-lower-header-height) * 0.8);
   color: var(--g-text-muted);
}
.list_wrap {
   height: 38px;
   box-sizing: border-box;
   border-bottom: 1px solid var(--g-border-color);
   padding: 12px 15px;
}

.list-Name {
   width: calc(100% - 170px);
}
.list-Start {
   width: 72px;
   flex-shrink: 0;
}
.list-Duration,
.list-Status {
   width: 50px;
   text-align: center;
   flex-shrink: 0;
}
#list_wrap_clone {
   display: none;
}

/* 우측 일정 */
.inner-right-section-scroll {
   position: relative;
   width: fit-content;
   max-width: 74%;
   height: calc(100vh - 38px);
}

/* 일정 박스 스타일 */
/* 1. blue */
.gantt .blue .bar {
   fill: #d0faff;
   stroke: #62bcd6;
}
.gantt .blue .bar-progress {
   fill: #62bcd6;
}
/* 2. red */
.gantt .red .bar {
   fill: #edbabb;
   stroke: #d2373a;
}
.gantt .red .bar-progress {
   fill: #d2373a;
}
/* 3. green */
.gantt .green .bar {
   fill: #b2e7c2;
   stroke: #37b64e;
}
.gantt .green .bar-progress {
   fill: #37b64e;
}
/* 4. yellow */
.gantt .yellow .bar {
   fill: #f3f1be;
   stroke: #dfd800;
}
.gantt .yellow .bar-progress {
   fill: #dfd800;
}
/* 5. orange */
.gantt .orange .bar {
   fill: #fdcbc3;
   stroke: #fe866e;
}
.gantt .orange .bar-progress {
   fill: #fe866e;
}
/* 6. purple */
.gantt .purple .bar {
   fill: #dcb2e7;
   stroke: #8737b6;
}
.gantt .purple .bar-progress {
   fill: #8737b6;
}
/* 7. pink */
.gantt .pink .bar {
   fill: #f9c1e7;
   stroke: #c52e93;
}
.gantt .pink .bar-progress {
   fill: #c52e93;
}
/* 8. gray */
.gantt .gray .bar {
   fill: #e9e9e9;
   stroke: #6c6666;
}
.gantt .gray .bar-progress {
   fill: #6c6666;
}
/* 호버하면 배경 */
.gantt .grid-row:hover {
   fill: #fbfcc2;
}
